on init
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage/emulated 0555 root root

    export EXTERNAL_STORAGE /storage/emulated/legacy
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated

    # Support legacy paths
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy

    mkdir /mnt/USB 0000 system system
    mkdir /mnt/shared 0775 root system

on boot
    setprop ARGH ARGH
    setprop ro.radio.use-ppp no
    setprop ro.com.google.locationfeatures 1

on fs
    mount_all /fstab.vbox86

on post-fs
    # load vbox modules
    insmod /system/lib/vboxguest.ko
    insmod /system/lib/vboxsf.ko
    insmod /system/lib/vboxvideo.ko
    chown system system /dev/vboxguest
    # Mount Virtualbox shared folders
    exec /system/bin/androVM-vbox-sf /mnt/shared

on post-fs-data
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp

service genyd /system/bin/genyd
    disabled
    oneshot

on boot
    start genyd

service wpa_supplicant /system/bin/wpa_supplicant -ieth1 -Dwired -c/data/misc/wifi/wpa_supplicant.conf -e/data/misc/wifi/entropy.bin -g@android:wpa_eth1
    class main
    socket wpa_eth1 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_eth1 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_eth1 /system/bin/dhcpcd -n
    disabled
    oneshot

service vbox86-setup /system/etc/init.androVM.sh
    oneshot
    class very-first

service vinput /system/bin/vinput
    class core

service vinput_seamless /system/bin/vinput_seamless
    class core

service local_opengl /system/bin/local_opengl
    class core

service local_gps /system/bin/local_gps
    class core

service back_camera /system/bin/local_camera -l24801 -p24800
    class core

service front_camera /system/bin/local_camera -l24811 -p24810
    class core
